/* IMPORT TAILWIND CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* ROOT */
:root{
  --clr-primary-200: #F3EED9;
  --clr-primary-300: #967f35;
  --clr-primary-400: #824936;

  --clr-neutral-100: #FFF;
  --clr-neutral-900: #222C2A;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair', serif;
}
/* GLOBAL */
*,*::before, *::after{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}
body,h1,h2,h3,p{
  margin: 0;
}
h1,h2,h3{
  font-family: var(--ff-accent);
  font-weight: 900;
  line-height: 1;
}
/* HEADER */
header{
  height: 100vh;
  background-image: url('/img/christopher-gower-m_HRfLhgABo-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur{
  width: 680px;
  height: 280px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  color: var(--clr-neutral-100);
  font-size: 36px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Section */
.container{
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
section{
  padding: 3rem 0;
}
.bg-light{
  background-color: var(--clr-primary-200);
}
.bg-primary{
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}
.bg-dark{
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}
.bg-primary h2, .bg-dark h2{
  color: var(--clr-primary-200);
}
